@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// ---app colors;
$bg-color: linear-gradient(
  90deg,
  rgba(20, 159, 255, 1) 0%,
  rgba(17, 122, 255, 1) 100%
  );
$main-bg: #17245a;
$text-color: #e2e2e2;
$text-color2:rgb(9, 69, 146);
$text-color3:rgb(65, 176, 255);

 $breakpoint-tablet: 768px;